.footer{
    height: 49px;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
}

.footer-inner{
    padding: 10px;
    font-size: 13px;
    color: blanchedalmond;
}